{% extends 'base.html' %}

{% block title %}
Najlepszy mem
{% endblock %}

{% block content %}
<div class="background-filler">
    <br>
    <div class="post card bg-dark m-auto">
        <div class="card-header text-center">
            <a class="feed-link" href="{% url 'user_page' post.owner.id %}">@{{post.owner}}</a><span> | {{post.added | date:"G:i d.m"}}</span>
            {% if request.user == post.owner %}
                <span> | </span>
                <!-- Button trigger modal -->
                <a class="feed-link" href="#" data-toggle="modal" data-target="#exampleModal">Usuń post</a>
                <!-- Modal -->
                <div class="modal fade dlete-coment-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header modal-borders-bottom">
                            <h5 class="modal-title" id="exampleModalLabel">Usuń post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        Czy na pewno chcesz usunąć post: {{post.body | truncatewords:50}}
                        </div>
                        <div class="modal-footer  modal-borders-top">
                            <form method="POST" action="{% url 'post_delete' post.id %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Wróć</button>
                                <button type="submit" class="btn btn-primary">Usuń</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-body pb-0">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            {% load static %}<img class="image" src="{% staticfiles '/posts/' %}{{post.owner.id}}/{{post.id}}.png">
            <div class="interactions">
                <div class="interaction-field">
                    {% if request.user.is_authenticated %}
                        <form method="Post" action="{% url 'like' post.id %}">
                            {% csrf_token %}
                            {% if like_status is False %}
                                <button class="bg-transparent border-0" type="submit">
                                    <div class="up-vote-empty">
                                        <span class="up-vote-empty-security">
                                        </span>
                                    </div>
                                </button>
                            {% else %}
                                <button class="bg-transparent border-0" type="submit">
                                    <div class="up-vote-fill">
                                        <span class="up-vote-fill-security">
                                        </span>
                                    </div>
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}
                    <div class="pl-3 pr-3">
                        {{post.interactions}}
                    </div>
                    {% if request.user.is_authenticated %}
                        <form method="POST" action="{% url 'dislike' post.id %}">
                            {% csrf_token %}
                            {% if dislike_status is False %}
                                <button class="bg-transparent border-0" type="submit">
                                    <div class="down-vote-empty">
                                        <span class="down-vote-empty-security">
                                        </span>
                                    </div>
                                </button>
                            {% else %}
                                <button class="bg-transparent border-0" type="submit">
                                    <div class="down-vote-fill">
                                        <span class="down-vote-fill-security">
                                        </span>
                                    </div>
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card post m-auto bg-dark"> 
        <div class="d-flex justify-content-center">
            <form class="p-4 d-inline-flex" method="POST" action="">
                {% csrf_token %}
                <textarea name="body" cols="95" rows="3"></textarea>
                <input class=" btn btn-secondary h-100" type="submit" name="coment" value="Dodaj">
            </form>  
        </div>
        <br>
        {% for coment in coments %}
            <div class="card bg-dark coment">
                <div class="card-header text-center">
                    <a class="feed-link" href="{% url 'user_page' coment.owner.id %}">@{{coment.owner}}</a><span> | {{coment.added | date:"G:i d.m"}}</span>
                    {% if request.user == coment.owner %}
                        <!-- Delete coment modal -->
                        <a class="feed-link" href="#" data-toggle="modal" data-target="#exampleModalcoment">
                            Usuń komentarz
                        </a>
                        <!-- Delete coment modal -->
                        <div class="modal fade" id="exampleModalcoment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content bg-dark modals-text">
                                    <div class="modal-header modal-borders-bottom">
                                        <h5 class="modal-title" id="exampleModalLabel">Usuń komentarz</h5>
                                        <button type="button" class="close dlete-coment-x" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Czy na pewno chcesz usunąć ten komentarz: {{coment.body}}?
                                    </div>
                                    <div class="modal-footer modal-borders-top">
                                        <form method="POST" action="{% url 'coment_delete' coment.id %}">
                                            {% csrf_token %}            
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Wróć</button>
                                            <button type="submit" class="btn btn-primary">Usuń</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark">{{coment.body}}</li>
                </ul>
            </div>
            <br>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock %}