{% extends 'base.html' %}

{% block title %}
Ustawienia
{% endblock %}

{% block content %}
<div>
    <div class="background-filler">
        <br>
        <div class="post card bg-dark m-auto">
            <div class="card-body pb-0">
                <form method="POST" id="email-username" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="email-username-form">
                    <div class="form-group">
                        <label for="exampleInputEmail11" id="inputGroup-sizing-sm">Nazwa użytkownika:</label>
                        <input id="exampleInputEmail11" name="username" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" id="inputGroup-sizing-sm">Adres email:</label>
                        <input id="exampleInputEmail1" name="email" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="{{user.email}}">
                    </div>
                    <!-- Change password triger -->
                    <div>
                        <label for="password" id="inputGroup-sizing-sm">Zmień hasło:</label>
                        <input data-toggle="modal" data-target="#exampleModal" class="form-control input-sm"  aria-describedby="inputGroup-sizing-sm" placeholder="*********" readonly>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-colour interactions m-auto">Zapisz</button>
                </form>
                <br>
            </div>
        </div>

    </div>
    <!-- Delete account triger -->
    <a class="feed-link delete-button-pos" href="#" data-toggle="modal" data-target="#deleteaccount">
       Usuń konto
    </a>
    
    <!-- Delete account modal -->
    <div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog" aria-labelledby="deleteaccountLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header modal-borders-bottom">
                <h5 class="modal-title" id="deleteaccountLabel">Usuń konto</h5>
                <button type="button dlete-coment-x" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Danej akcji nie będzie można cofnąć. Usunięte zostaną wszystkie dane powiązane z twoim profilem czy na pewno chcesz kontynuować?
            </div>
            <div class="modal-footer modal-borders-top">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Wróć</button>
                <button type="button" class="btn btn-primary">Usuń</button>
            </div>
        </div>
        </div>
    </div>
    
    <!-- Change password modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header modal-borders-bottom">
                    <h5 class="modal-title" id="exampleModalLabel">Zmiana hasła</h5>
                    <button type="button" class="close dlete-coment-x" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="password-form">
                        <div class="form-group">
                            <label for="password" id="inputGroup-sizing-sm">Twoje stare hasło:</label>
                            <input id="password" name="old-password" type="password" class="form-control input-sm"  aria-describedby="inputGroup-sizing-sm" placeholder="{{requset.user.email}}">
                        </div>
                        <div class="form-group">
                            <label for="password" id="inputGroup-sizing-sm">Nowe hasło:</label>
                            <input name="password1" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="{{requset.user.email}}">
                        </div>
                        <div class="form-group">
                            <label for="password" id="inputGroup-sizing-sm">Potwierdź nowe hasło:</label>
                            <input name="password2" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="{{requset.user.email}}">
                        </div>
                    </div>
                    <div class="modal-footer modal-borders-top">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Wróć</button>
                        <button type="submit" class="btn btn-primary">Potwierdź</button>
                    </div>
                </form>
            </div>
        </div>
    </div>   
</div>
{% endblock %}